In [6]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import numpy as np 
import warnings 
import plotly.express as px 
warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv('education_disbled_eu.csv')

In [8]:
df.head()

  unit isced97 hlth_pb sex     age  time  geo    value
0  THS   ED0-2  PB1040   F   TOTAL  2011  BE   223.746
1  THS   ED0-2  PB1040   M   TOTAL  2011  BE   249.621
2  THS   ED0-2  PB1040   T   TOTAL  2011  BE   473.367
3  THS   ED0-2  PB1040   F  Y15-24  2011  BE    11.757
4  THS   ED0-2  PB1040   M  Y15-24  2011  BE    26.862

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13950 entries, 0 to 13949
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   unit     13950 non-null  object
 1   isced97  13950 non-null  object
 2   hlth_pb  13950 non-null  object
 3   sex      13950 non-null  object
 4   age      13950 non-null  object
 5   time     13950 non-null  int64
 6   geo      13950 non-null  object
 7   value    11060 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 872.0+ KB

In [10]:
df.isnull().sum()

unit          0
isced97       0
hlth_pb       0
sex           0
age           0
time          0
geo           0
value      2890
dtype: int64