In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import numpy as np 
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('StudentsPerformance.csv')

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

<h1> EDA </h1>

<h4>Info about the Dataset</h4>
<ul>
  <li>8 columns</li>
  <li>1000 observations</li>
  <li>There is no missing Values </li>
</ul>

In [15]:
df.columns = df.columns.str.replace(' ', '_')

In [22]:
df

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [18]:
drop_colum = ['race/ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

In [21]:
df.drop(columns=[drop_colum])

KeyError: "[('race/ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course')] not found in axis"

In [ ]:
df1.head

In [7]:
import numpy as np 

#!pip install scikit-learn
#!pip install scipy

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
df_scaler = StandardScaler()

df_scaler = df_scaler.fit_transform(df)

ValueError: could not convert string to float: 'female'

In [6]:
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster

In [ ]:
compl_clust = linkage(df_scaler, method="complete", metric="euclidean")
avg_clust = linkage(df_scaler, method="average", metric="euclidean")
sing_clust = linkage(df_scaler, method="single", metric="euclidean")